.department-slider {
    width: 100%;
    margin: auto;
    /* height: 100%; */
    border: 5px solid blue;
    overflow: hidden;
    padding: 2rem;
    border-radius: 20px;

}

::-webkit-scrollbar {
    display: none;
}

.slide {
    position: relative;
    overflow: hidden;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    height: 22rem;
    object-fit: cover;

}

.slide img {
    width: 100%;
    margin: 1rem 0;
    object-fit: cover;
    border-radius: 20px;

}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: .5em;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-list {
    overflow: hidden;
}